body {
background: linear-gradient(90deg, rgba(252, 0, 0, 0.781),rgba(255, 170, 0, 0.788));
font-family: Arial, Helvetica, sans-serif;
font-size: 1rem;
}
 
header {
  color: #ffff;
text-align: center;
}
header h1 {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.849);
}

section {
  background-color: #f7f7f7;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.300);
  
}
input {
  margin-left: 4px;
}


footer {
  
  color: #ffff;
 text-align: center;
 font-style: italic;
}

footer a {
  text-decoration: none;
  color: #fff
 }

 footer a:hover{
  text-decoration: underline;
   }